form {
  margin: 28px auto;
  width: min(80%, 520px);
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.usernameDiv, .passwordDiv, .confirmPasswordDiv {
  display: flex;
  flex-direction: column;
}

input {
  height: 24px;
}

.button {
  margin-top: 24px;
  align-self: center;
  padding: 8px 8px;
  font-family: libre-baskerville;
  cursor: pointer;
}