.backgroundImage {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  background-image: url("/images/galaxy-background.jpg");
  background-size: cover;
  background-position: 50% 80%;
  z-index: -1;
}

.main {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.pageContainer {
  width: 100%;
  padding-bottom: 190px;
  flex-grow: 1;
  align-self: center;
}

@media screen and (min-width: 800px) {
  .backgroundImage {
    background-position: url();
  }
}