.backgroundImage {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  background-image: url("/images/galaxy-background.jpg");
  opacity: 0.6;
  background-size: cover;
  background-position: 50% 80%;
  z-index: -1;
}

.main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.pageContainer {
  width: 100%;
  flex-grow: 1;
  align-self: center;
}

.isPinned {
  background-color: rgba(77, 77, 77, 0.4);
  backdrop-filter: blur(16px);
  transition: background-color 400ms ease-in;
}

@media screen and (min-width: 800px) {
  .backgroundImage {
    background-position: url();
  }
}