@font-face {
  font-family: libre-baskerville;
  src: url("/fonts/LibreBaskerville-Bold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: libre-baskerville;
  src: url("/fonts/LibreBaskerville-Regular.ttf");
  font-weight: 300;
}

@font-face {
  font-family: libre-baskerville;
  src: url("/fonts/LibreBaskerville-Italic.ttf");
  font-style: italic
}

:root {
  font-family: libre-baskerville;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}